<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: head}"></head>
<body>

<div th:replace="~{includes/navbar :: nav}"></div>
<div class="container">
    <h1 id="title">Welcome to myCalendar!</h1>

    <p>Below you can find some highlights about myCalendar. Each chapter will have a slightly different summary
        depending on what will be done.</p>
    <ul>
        <li><a id="eventsLink" href="events/">All Events</a> - shows all events for all users. Once secured, this will
            only be viewable by administrators.
        </li>
        <li><a id="myEventsLink" href="events/my">My Events</a> - shows all events that user1@example.com is the owner
            or attendee. Once we apply security only a logged in user
            will be able to view this page. Additionally, the logged in user will be used rather than always using
            user1@example.com
        </li>
        <li><a id="createEventLink" href="events/form">Create Event</a> - will allow creating a new Event with
            user1@example.com as the owner. Once we add security, only a logged in
            user will be able to view this page. Additionally, the logged in user will be the owner rather than always
            using user1@example.com.
        </li>
        <li>
            <a id="h2Link" href="admin/h2/">H2 Database Console</a> - Allows you to interact with the database using a
            web console.
        </li>
    </ul>
</div>

<div th:replace="~{includes/footer :: foot}"></div>
</body>
</html>
